<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주도 맛집 지도</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body class="indexBody">
    <section class="indexWrap">
        <h1 class="indexHead">제주도, 어디까지 가봤니</h1>
        <p class="indexContent">제주도 프로 여행러의 제주도 맛집 지도</p>
        <button class="indexBtn">맛집 찾으러 가기</button>
        <img src="/assets/beach-3585794_1920.jpg" alt="제주도 사진" class="indexImg">
    </section>
    <section class="mainWrap">
        <h2>지역별 맛집 보러가기</h2>
        <p>원하는 지역을 클릭해주세요!</p>
        <img src="/assets/jejumap.png" alt="제주도 지도" class="mainImg">
        <ul class="mainList">
            <li ><a href="/blog/?section=성산"class="mainBtn">성산</a></li>
            <li><a href="/blog/?section=표선" class="mainBtn">표선</a></li>
            <li><a href="/blog/?section=중문" class="mainBtn">중문</a></li>
            <li><a href="/blog/?section=안덕" class="mainBtn">안덕</a></li>
        </ul>
    </section>
    <script src="/javascript/index.js"></script>
</body>
</html>