<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제주 맛집 지도</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/small.css" />
  </head>
  <body>
    <nav class="navigation">
      <button class="btnMenu"></button>
      <div class="navMenu">
        <a href="/" class="backHome">홈으로 가기</a>
        <ul class="postList">
          <li><a href="/blog/">전체보기</a></li>
          <li><a href="?section=성산">성산</a></li>
          <li><a href="?section=표선">표선</a></li>
          <li><a href="?section=중문">중문</a></li>
          <li><a href="?section=안덕">안덕</a></li>
          <li><a href="?section=한림">한림</a></li>
          <li><a href="?section=제주시">제주시</a></li>
        </ul>
        <a href="/blog/write">작성</a>
      </div>
    </nav>
    <main class="main">
      {% for i in data %}
      <div class="postWrap">
        <p class="postName">{{ i.name }}</p>
        <a href="{{ i.id }}"
          ><img src="{{ i.img }}" alt="" class="postImg"
        /></a>
        <div class="contWrap">
          <p class="postContent">{{ i.content }}</p>
          <p class="postSection">[위치: {{ i.section }}]</p>
        </div>
      </div>
      {% endfor %}
    </main>
    <script src="/javascript/post.js"></script>
  </body>
</html>
