<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/blog/" method="post">
        <label for="section">위치</label>
        <input type="text" id="section" name="section"><br>
        <label for="name">이름</label>
        <input type="text" id="name" name="name"><br>
        <label for="content">추천이유</label>
        <input type="text" id="content" name="content"><br>
        <label for="img"></label>
        <input type="file" id="img" name="img"><br>
        <button>저장</button>

    </form>
</body>
</html>